<div class="row">
    <div class="col-md-2">
        <p>Montant désiré :</p>
        <input type="number" [(ngModel)]="cardsCombination.value" (ngModelChange)="updateCardsCombination()">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-secondary" (click)="nextAmount()">Montant suivant</button>
        <button type="button" class="btn btn-secondary" (click)="previousAmount()">Montant précédent</button> 
        <div *ngIf="error">Opération impossible (Erreur API)</div>
    </div>
</div>
