<button type="button" class="btn btn-primary" (click)="validationAmount()">Valider</button> 

<div *ngIf="activeValueCards || data" class="validation">
    <div *ngIf="activeValueCards">
        Votre montant est composé des cartes suivantes :
        <ul>
            <li *ngFor="let card of activeValueCards.cards">
                {{card}}€
            </li>
        </ul>
    </div>
    <div *ngIf="!activeValueCards">
        <p *ngIf="data && data.floor">
            Montant proposé de valeur inférieure : {{data.floor.value}}€ ->
            <i *ngFor="let card of data.floor.cards">
                [{{card}}€] 
            </i>
            <button type="button" class="btn btn-success" (click)="selectAmount(data.floor)">+</button> 
        </p>

        <p *ngIf="data && data.ceil">
            Montant proposé de valeur supérieure : {{data.ceil.value}}€ ->
            <i *ngFor="let card of data.ceil.cards">
                [{{card}}€] 
            </i>
            <button type="button" class="btn btn-success" (click)="selectAmount(data.ceil)">+</button> 
        </p>

        <p *ngIf="data && !data.ceil && !data.floor">
            Aucun montant possible avec le montant désiré.
        </p>
    </div>
</div>

<div *ngIf="error" class="validation">
    Erreur API
</div>